<div class="container">
    <div class="row .btn-add-container">
        <h1>Products
            <button class="btn btn-primary btn-lg .btn-add pull-right">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </button>
        </h1>
    </div>
    <div class="row">
        <input type="text" class="form-control" placeholder="Search product by keyword..." ng-model="product.search">
    </div>
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products.allProducts | filter: product.search">
                    <td>{{ product.name }}</td>
                    <td>{{ product.description | ShortDescriptionFilter:30 }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.categoryName }}</td>
                    <td><img ng-src="{{product.image}}" alt="" width="100"></td>
                    <td>
                        <button class="btn btn-warning">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal" ng-click="products.currentDeleteProductId=product.id">
                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="deleteConfirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this product?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="products.deleteProduct()">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>