<div class="container">
    <div class="row .btn-add-container">
        <h1>Products
            <button class="btn btn-primary btn-lg .btn-add pull-right" ng-controller="UpdateCreateModalController as updateCreateModal"
                    ng-click="updateCreateModal.open('lg')">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </button>
        </h1>
    </div>
    <div class="row">
        <input type="text" class="form-control" placeholder="Search product by keyword..." ng-model="product.search">
    </div>
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products.allProducts | filter: product.search">
                    <td><a href="#!/products/{{ product.id }}">{{ product.name }}</a></td>
                    <td>{{ product.description | ShortDescriptionFilter:30 }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.categoryName }}</td>
                    <td><img ng-src="{{product.image}}" alt="" width="100"></td>
                    <td>
                        <button class="btn btn-warning" ng-controller="UpdateCreateModalController as updateCreateModal"
                            ng-click="updateCreateModal.open('lg', product)">
                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                        </button>
                        <button ng-controller="ConfirmModalController as confirmModal" type="button" class="btn btn-danger"
                                ng-click="confirmModal.open('md', product.id, 'product')">
                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>